.container{
    background-color: rgba(255, 255, 255, 0.849);
    border: 2px solid blue;
    width: 400px;
    height: 700px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 20px 3px;
}
.signup-box input{
    border-radius: 50px;
    border: 1px solid rgb(146, 141, 141);
    width: 375px;
    height: 40px;
    padding-left: 20px;
    margin: 10px auto;
}
.signup-box label{
    font-size: 13px;
    color: rgb(59, 60, 61);
    font-family: initial;
    }
#button{
    border-radius: 50px;
    font-size: medium;
    color: white;
    background-color: rgb(75, 75, 240);
    width: 400px;
    height: 40px;
    border: 0px solid transparent;
}
#button:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(85, 15, 15);
    cursor: pointer;
}
#below-signup-box p{
    text-align: center;
    cursor: default;
}
#below-signup-box p a{
    color: rgb(65, 65, 243);
    text-decoration: none;
}
#below-signup-box p a:hover{
    color: rgb(136, 4, 4);
}
#or h6{
    font-size: medium;
    color: #858383;
    font-weight: lighter;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px auto 20px;
}
#or h6 span{
    background: rgb(255, 255, 255);
    padding: 0 10px;
}
#back{
    padding-left: 10px;
    font-weight: lighter;
}
#back a{
    color: rgb(65, 65, 243);
    text-decoration: none;
}
#back a:hover{
    color: rgb(143, 6, 6);
}
#heading{
    font-size: 26px;
    font-weight: lighter;
}
.google_link{
    display: block;
    text-decoration: none;
    /* margin-left: 105px; */
    margin: 0 auto;
    color: black;
    border: 1px solid rgba(207, 203, 203, 0.507);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.849);
    width: 148px;
    height: 30px;
    padding: 5px 5px 0px;
}
.google_link img{
    float: left;
    height: 25px;
    width: 25px;
}
.google_link h6{
    font-size: 14px;
    padding-left: 27px;
    font-weight: 10;
    margin-top: 5px;
}
.google_link h6:hover{
    color: rgb(143, 6, 6);
}